{% load i18n %}
<div id="rental-summary">
    {% include 'config/rentals/_summary.html' %}
</div>

<div id="rental-items">
    {% include 'config/rentals/_items_table.html' %}
</div>

<div class="row g-4">
    <div class="col-lg-6">
        <div id="rental-timeline">
            {% include 'config/rentals/_timeline.html' %}
        </div>
    </div>
    <div class="col-lg-6">
        <div id="rental-payments">
            {% include 'config/rentals/_payments.html' %}
        </div>
    </div>
</div>

<div id="modal-slot"></div>
